<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Website</title>
</head>
<body>
    <h1>My recipies:</h1>
    <table border = "1">
        <tr>
            <td>Description</td>
            <td>Cooking time</td>
            <td>Preparation Time</td>
            <td>Servings</td>
            <td>Difficulty</td>
            <td>Categories</td>
            <td>Notes</td>
        </tr>
        <tr th:each="recipe : ${recipies}">
            <td th:text="${recipe.description}"/>
            <td th:text="${recipe.cookTime}"/>
            <td th:text="${recipe.prepTime}"/>
            <td th:text="${recipe.serving}"/>
            <td th:text="${recipe.difficulty}"/>
            <td> <div th:each="category : ${recipe.categories}"> <div th:text="${category.description}"/></div> </td>
            <td th:text="${recipe.notes.notes}"/>
        </tr>
    </table>
</body>
</html>